<#include "/macro.include"/>

<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${basepackage}.${namespace}.domain.${className}">
	<resultMap id="BaseResultMap" type="${basepackage}.${namespace}.domain.${className}">
		<#list fields as field>
		<#if field_index==0>
		<id column="${field.fieldName}" property="${field.fieldName}" javaType="${field.javaType}" jdbcType="${field.jdbcType}"/>
		<#else>
		<result column="${field.fieldName}" property="${field.fieldName}" javaType="${field.javaType}" jdbcType="${field.jdbcType}"/>
		</#if>
		</#list>
	</resultMap>

	<sql id="table">${tableName}</sql>

	<sql id="Base_Column_List">
		<trim prefixOverrides=",">
		<#list fields as field>
		, a.${field.fieldName}
		</#list>
		</trim>
	</sql>

	<sql id="Base_Where_Clause">
		<where>
			<trim prefixOverrides="and">
				<#list fields as field>
				<if test="${field.fieldName} != null and ${field.fieldName} !=''">  and a.${field.fieldName} = #${"\{"+field.fieldName+",jdbcType="+field.jdbcType+"}"}</if>
				</#list>
			</trim>
		</where>
	</sql>

	<sql id="delete_Base_Where_Clause">
		<where>
			<trim prefixOverrides="and">
				<#list fields as field>
				<if test="${field.fieldName} != null and ${field.fieldName} !=''">  and a.${field.fieldName}  = #${"\{"+field.fieldName+",jdbcType="+field.jdbcType+"}"}</if>
				</#list>
			</trim>
		</where>
	</sql>

	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
		select count(1)	from <include refid="table" /> a
		<include refid="Base_Where_Clause" />
	</select>

	<!-- 查询 -->
	<select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="Base_Column_List" />
		from <include refid="table" /> a
		<include refid="Base_Where_Clause" />
 		<include refid="com.ewandian.b2b.common.PagingAndSorting" />
	</select>

	<select id="batchSelect" resultMap="BaseResultMap" parameterType="java.util.Map" >
		SELECT
			<include refid="Base_Column_List" />
		FROM <include refid="table" /> a
		<where>
			<if test="ids!=null and ids.size()>0">
				a.${fields?first.fieldName} in
				<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
					#${"\{item,jdbcType=VARCHAR}"}
				</foreach>
			</if>
		</where>
	</select>

	<!-- 根据ID查询 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select <include refid="Base_Column_List" />
		from <include refid="table" /> a
		WHERE a.${fields?first.fieldName} = #${"\{"+fields?first.fieldName+",jdbcType="+fields?first.jdbcType+"}"}
	</select>

	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from <include refid="table" /> a
		where a.${fields?first.fieldName} = #${"\{"+fields?first.fieldName+",jdbcType="+fields?first.jdbcType+"}"}
	</delete>

	<!-- 删除 -->
	<delete id="delete" parameterType="java.util.Map">
		delete from <include refid="table" /> a
		<include refid="delete_Base_Where_Clause" />
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="${basepackage}.${namespace}.domain.${className}">
		INSERT INTO <include refid="table" />(
		<trim prefixOverrides=",">
			<#list fields as field>
			, ${field.fieldName}
			</#list>
		</trim>
		)
    	VALUES (
		<trim prefixOverrides=",">
			<#list fields as field>
			, #${"\{"+field.fieldName+",jdbcType="+field.jdbcType+"}"}
			</#list>
		</trim>
		)
	</insert>


	<!-- 通过ID更新 -->
	<update id="updateByIdSelective" parameterType="${basepackage}.${namespace}.domain.${className}">
		update <include refid="table" />
		<set>
		<trim prefixOverrides=",">
<#list fields as field>
	<#if field_index != 0>
			<if test="${field.fieldName} != null and ${field.fieldName} !=''">, ${field.fieldName} = #${"\{"+field.fieldName+",jdbcType="+field.jdbcType+"}"}</if>
	</#if>
</#list>
		</trim>
		</set>
		<where>	${fields?first.fieldName} = #${"\{"+fields?first.fieldName+",jdbcType="+fields?first.jdbcType+"}"}</where>
	</update>

	<update id="updateById" parameterType="${basepackage}.${namespace}.domain.${className}">
		UPDATE <include refid="table" />
		<set>
		<trim prefixOverrides=",">
	<#list fields as field>
		<#if field_index != 0>
			,${field.fieldName} = #${"\{"+field.fieldName+",jdbcType="+field.jdbcType+"}"}
		</#if>
	</#list>
		</trim>
		</set>
 		<where> ${fields?first.fieldName} = #${"\{"+fields?first.fieldName+",jdbcType="+fields?first.jdbcType+"}"}  </where>
	</update>
</mapper>
